.body {
    background-color: light orange;
}

.input
{
    border-style:solid;
    border-width:2px;
    border-color:white;
}

.button
{
    border-style:solid;
    border-width:2px;
    border-color:white;
    background-color:transparent;
    color:white;
	
}

.content {
	text-color: orange;
	padding: 50px 30px 50px 80px;
	
	
	
	
   